@model IEnumerable<Vision.Models.Glasses>

@{
    ViewBag.Title = "History";
    var counter = 1;
}

<h2>Insertion History</h2>
<p>This is a list of the glasses currently in the inventory (sorted by glasses last added to the inventory).</p>

<p>
    <a href="#" id="export" class="big button">Export seleted to CSV</a>

    <a href="#" id="clearChecked" class="button left">Clear checked</a>
    <a href="#" id="check40above" class="button right">Select 40 above</a>
</p>

<table>
    <tr>
        <th></th>
        <th></th>
        <th>
            Call Number
        </th>
        <th>
            OD Sph
        </th>
        <th>
            OD Cyl
        </th>
        <th>
            OD Axis
        </th>
        <th>
            OD Add
        </th>
        <th>
            OS Sph
        </th>
        <th>
            OS Cyl
        </th>
        <th>
            OS Axis
        </th>
        <th>
            OS Add
        </th>
        <th>
            Sunglasses
        </th>
        <th>
            Size
        </th>
        <th>
            Gender
        </th>
        <th>
            Inserted on
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@(counter++)</td>
        <td><input type="checkbox" name="@item.Group/@item.Number" /></td>
        <td>
            @Html.DisplayFor(modelItem => item.Group)/@Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OD_Spherical)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OD_Cylindrical)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OD_Axis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OD_Add)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OS_Spherical)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OS_Cylindrical)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OS_Axis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OS_Add)
        </td>
        <td>
            @(item.Sunglasses ? "Y" : "N")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsertDate)
        </td>
    </tr>
}

</table>
<script src="/js/history.js" type="text/javascript"></script>
